body {
    margin: 0;
    background-color: #FFFFFF;
}

* {
    box-sizing: border-box;
}

.title {
    display: flex;
    justify-content: left;
    color: #008080;
}

.title2 {
    color: purple;
}

.output {
    width: 380px;
    padding: 12px 20px;
    margin: 20px 0;
    box-sizing: border-box;
}

.allkeys {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.tall {
    flex-grow: 1;
    color: #FFFFFF;
    background-color: #008080;
}

.clear {
    color: #FFFFFF;
    background-color: tomato;
}

button {
    display: block;
    height: 2rem;
    line-height: 2rem;
    margin: .25rem;